<ion-toolbar>
    <ion-buttons sloat="start">
      <ion-back-button color=dark text defaultHref="/home"></ion-back-button>
      <ion-title>{{movie.original_title}}</ion-title>
    </ion-buttons>
    
</ion-toolbar>

<ion-content>
  <ion-card>
      <ion-img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}"></ion-img>      
      <ion-card-header>
          <ion-card-title>{{movie.original_title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <p>{{movie.overview}}</p>
      </ion-card-content>
  </ion-card>
</ion-content>
