<ion-content>
  <ion-toolbar translucent text-center>
    <ion-title>
        {{this.title}}
    </ion-title>
  </ion-toolbar>
  
  <ion-searchbar animated [(ngModel)]="this.movieSearch" (keyup)="this.searchMovie($event)" ></ion-searchbar>
  <div padding-start><h5>{{(this.movieSearch)? 'Searching '+this.movieSearch:'Trending' }}</h5></div>
  <ion-grid *ngIf="this.movies">
    <ion-row>
      <ion-col *ngFor="let movie of this.movies" size="4" no-padding>
        <ion-card (click)="goSingleMovie(movie.id)">
            <ion-img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}"></ion-img>
            <ion-card-header>
                <ion-card-subtitle>{{movie.vote_average}} / 10</ion-card-subtitle>
                <ion-card-title class="title">{{movie.title}}</ion-card-title>
            </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
