h1,h2,h3,h4,h5,h6, .title{
    font-family: 'Raleway', sans-serif;
}

ion-title{
    color: white;
    font-family: 'BebasNeue', sans-serif;
}

ion-card {
    margin: 0.5em 0.5em;
    height: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
}

ion-card-header {
    padding: 0.5em;
}

ion-card-title {
    font-weight: normal;
    font-size: 1em;
}
