<ion-header>
  <ion-toolbar>
    <ion-title>
      {{this.title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
 <ion-list>
    <ion-card *ngFor="let movie of this.movies.results">
        <ion-img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}"></ion-img>
        <ion-card-header>
            <ion-card-subtitle>{{movie.vote_average}} / 10</ion-card-subtitle>
            <ion-card-title>{{movie.title}}</ion-card-title>
        </ion-card-header>
    </ion-card>
 </ion-list>
</ion-content>
